.home{
  background-color: whitesmoke;
  height: auto;
}
.App{
    max-width: 500px;
    margin: auto;
    border: 5px solid grey;
    margin-top: 40px;
    background-color: #7055bd;
    /* background-color: grey; */
    /* background-attachment: fixed; */
  }
  .App input{
  background-color: transparent;
  width: 423px;
  margin: 6px;
  /* align-items: center; */
  border-radius: 5px;
  border:2px solid  white;
  height: 40px;
  /* display: flex-grow; */
  /* flex-grow: 90; */
  padding-left: 3rem;
  font-size: 17px;
  font-weight: 600;
  color: antiquewhite;
  
  
  }
  .input{
    display: flex;
  position: relative;
  align-items: center;
  /* padding-left: 4rem; */
  }
  .icon{
    color: rgba(255, 255, 255, 0.818);
    font-size: 42px;
    position: absolute;
    margin-left: 9px;
  }
  .iconplus{
    color: white;
    width: 52px;
    height: 52px;
  cursor: pointer;
  }
  .navbar-app{
    height: 60px;
    width: 500px;
    background-color: white;
    border-radius: 7px;
    /* margin-left: 30px; */
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  /* .imgg{
    width: 7%;
  } */
  .contact{
    /* background-color: rgb(24, 26, 44); */
    background-color: transparent;
    border: 4px solid #140c2c;
    color: white;
  display: flex;
  height: 12vh;
  border-radius: 14px;
  justify-content: space-between;
  /* gap: 2; */
      margin: 10px;
      /* width: 21px; */

  }
  .hiicon{
color: white;
    font-size: 54px;
    margin: 14px;
    margin-left: 12px;
    margin-right: 12px;
    /* height: 8999px; */
  
  }
  .bibsicons{
    /* align-items: center; */
    color: white;
    font-size: 2rem;
    /* margin: 50px; */
    /* text-align: center; */
    margin-top:23px;
    margin-right: 15px;
    /* justify-content: flex-start; */
    gap: 1;
  }
  .inputs{
    margin-left: -120px ;
  }
  .inputs h2{
    margin-top: 11px;

  }
  .inputs p{
    margin-top: -18px;
justify-content: flex-start;

  }
  .form{
    background-color:whitesmoke;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* align-items: center; */
    margin-top: 21px;
    margin-left:29% ;
    border: 5px solid grey;
    width: 45%;

  }
  .form label{
    margin-left:9% ;
    font-size: 26px;
    font-weight: 700;

  }
  .contact-add{
    display: flex;
  }
  .contact-add h2{
    color: rgb(4, 18, 32);
    font-size: 40px;
    margin-left:9% ;

  }
  .contact-add p{
    margin-left:42% ;
    font-size: 43px;
    font-weight: 900;
  }
  .plusinput{
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
    width:80%;
    margin-left:9% ;

  }
  @media (max-width:700px) {
    .App{
      max-width: 100%;
      margin-left:2px ;
      border: 5px solid grey;
      margin-top: 30px;
      background-color: #7055bd;
      /* background-color: grey; */
      /* background-attachment: fixed; */
    }
    .home{
      margin-top:2px ;
/* background-color: #140c2c; */
    }
    .navbar-app{
      height: 60px;
      width: 98%;
      background-color: white;
      border-radius: 7px;
      /* margin-left: 30px; */
      display: flex;
      font-size: 1.6rem;
      justify-content: center;
      align-items: center;
      gap: 7px;
    }
    .form{
      background-color:whitesmoke;
      /* display: flex; */
      /* flex-direction: column; */
      /* justify-content: space-around; */
      /* align-items: center; */
      margin-top: 21px;
      margin-left:0 ;
      border: 5px solid grey;
      width: 97%;
  
    }
    .contact-add h2{
      font-size: 34px;
      margin-top:15% ;
      font-weight: 800;

    }
    .contact-add p{
      margin-left:12% ;
      font-size: 53px;
      font-weight: 900;
    }
    .handle{
      margin-left:45% ;
      margin-bottom: 12px;
      width: 51%;

    }.contact{
      height: auto;
      margin-top: 10px;
    }
    .hiicon{
      color: white;
          font-size: 54px;
          margin: 14px;
          /* margin-left: 12px; */
          margin-right: 12px;
/* background-color:pink;         */
        }
        .inputs{
          /* margin-left: -45px ; */
          /* justify-content: flex-start; */
          text-align: start;
          margin-left: -69px;
          /* background-color: #140c2c; */
          
          /* background-color: aqua; */
        }
        .inputs h2{
      font-size: 21px;
      
        }
        .inputs p{
          /* margin-top: -18px; */
      /* justify-content: flex-start; */
      /* font-size: 22px; */
        }
        .bibsicons{
          /* align-items: center; */
          color: white;
          font-size: 2rem;
          /* margin: 50px; */
          /* text-align: center; */
          margin-top:23px;
          margin-right: 15px;
          /* justify-content: flex-start; */
          gap: 1;
        }
  }