.btn-div{
  margin-top: 20px;
  display: flex;
}
.img{
  height: 90vh;
  width: 90%;
}.navbar{
  height: 13vh;
  display: flex;
  background-color: #8062D6;
  /* background-color: rgb(72, 176, 210); */


}ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 40px;
  margin-top: 24px;
  width: 100%;
  background-color: transparent;

}
.navbar h1{
  margin-left: 20px;
  font-size: 2rem;
}

li {
  cursor: pointer;
  float: right  ;
  background-color: transparent;

  display: inline;
  margin: 16px;
justify-content: space-between;
font-size: 19px;
font-weight: 700;
/* margin-top: 50px; */
margin-right: 40px;
color: black;
/* color: aqua; */
}
.logo{
  margin-top: 30px;
  margin-left: 40px;
  height: 10vh;
  width: 50px;
/* size: 2rem; */

  color: blue;
}
@media (max-width:700px) {
  .btn-div{
    margin-top: 21px;
    display: block;
  }
  .img{
   display: none;
  }
 
  .navbar{
    height: 10vh;
    width: 100%;
  }
  .navbar h1{
    margin-left: 10px;
    font-size: 2rem;
    margin-top: 23px;
  }
   
}
